#splash-page {
  background-color: white;
}

#bar-footer-message-box {
  height: initial;
}

#bar-footer-message-box .list {
  width: 100%;
}

.item-message {
  background-color: #DDEEFE;
  width: 70%;
  margin: 6px 10px;
  padding: 0px;
}

.item-message2 {
  background-color: #DDEEFE;
  width: 70%;
  margin: 6px 10px;
  padding: 0px;
  float: left;
}

.nopads{
	padding:0px;
}
.item-message-header {
  font-style: italic;
}

.item-message-body {
  padding: 4px 20px;
  font-size: 16px;
}
.item-reply{
   margin: 6px 10px;
   float: right;
   width: 70%;
   background-color: #B6DEA5;
}

.bar.bar-uptalk {
background-color: #9aa1fe;
border-color: #1aaac3;
background-image: linear-gradient(0deg, #1aaac3, #1aaac3 50%, transparent 50%);
color: white; }
.bar.bar-uptalk .title {
color: white; }
.bar-uptalk .button {
color: white;
background-color: #9aa1fe;
border-color: #1aaac3; }
.bar-uptalk .button:hover {
color: white;
text-decoration: none; }
.bar-uptalk .button.active, .bar-uptalk .button:active {
background-color: #1aaac3;
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
border-color: #1aaac3; }
.bar-uptalk .button.button-clear {
color: white;
background: none;
border-color: transparent;
box-shadow: none;
font-size: 18px; }
.bar-uptalk .button.button-icon {
background: none;
border-color: transparent; }

.button.button-uptalk {
color: white;
background-color: #9aa1fe;
border-color: #145dd7; }
.button.button-uptalk:hover {
color: white;
text-decoration: none; }
.button.button-uptalk.active, .button.button-uptalk:active {
background-color: #145dd7;
box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);
border-color: #145dd7; }
.button.button-uptalk.button-clear {
color: #9aa1fe;
background: none;
border-color: transparent;
box-shadow: none; }
.button.button-uptalk.button-icon {
background: none;
border-color: transparent; }
.button.button-uptalk.button-outline {
background: transparent;
border-color: #9aa1fe;
color: #9aa1fe; }
.button.button-uptalk.button-outline.active, .button.button-uptalk.button-outline:active {
background-color: #9aa1fe;
color: #fff;
box-shadow: none; }

.odd{
	background-color: blue;
	width: 50%;
}
.even{
	background-color: red;

}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0,0,0,0); /*dim the background*/
}

.res-text{
	color: white;
	font-size: 70px;
	left: 0;
    line-height: 200px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
	text-align: center;
}
