<nav-page id="app-page">
  <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
    <h1 class="title">About</h1>
  </header>
  <content has-header="true" padding="true">
    <h3>Development Team</h3>
    <div class="list">
      <span class="item item-thumbnail-left">
        <img src="img/thomas.png">
        <h2>Thomas Reese</h2>
        <p>
          Computer Science
          <br>
          <small>University of Illinois at Urbana-Champaign</small>
        </p>
      </span>

      <span class="item item-thumbnail-left">
        <img src="img/joseph.png">
        <h2>Joseph Milla</h2>
        <p>
          Computer Science
          <br>
          <small>University of Illinois at Urbana-Champaign</small>
        </p>
      </span>
    </div>
  </content>
</nav-page>
