<nav-page id="app-page">
  <!-- <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
    <h1 class="title">About</h1>
  </header> -->

  <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="toggleSideMenu()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">About</h1>
  </header>

  <content has-header="true" padding="true">
    <h3>Development Team</h3>
    <div class="list">
      <span class="item item-thumbnail-left">
        <img src="img/thomas.png">
        <h2>Thomas Reese</h2>
        <p>
          Computer Science
          <br>
          <small>University of Illinois at Urbana-Champaign</small>
        </p>
      </span>

      <span class="item item-thumbnail-left">
        <img src="img/joseph.png">
        <h2>Joseph Milla</h2>
        <p>
          Computer Science
          <br>
          <small>University of Illinois at Urbana-Champaign</small>
        </p>
      </span>

      <span class="item item-thumbnail-left">
        <img src="img/ore.png">
        <h2>Ore Aleb</h2>
        <p>
          Computer Science
          <br>
          <small>University of Illinois at Urbana-Champaign</small>
        </p>
      </span>

      <span class="item item-thumbnail-left">
        <img src="img/anil.png">
        <h2>Anil Jason</h2>
        <p>
          Computer Science
          <br>
          <small>University of Illinois at Urbana-Champaign</small>
        </p>
      </span>
    </div>

    <h4>❤ Created at MadHacks 2015</h4>
  </content>
</nav-page>
