<nav-page id="app-page">
  <!-- <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
    <h1 class="title">About</h1>
  </header> -->

  <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToChallenge()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">Challenge</h1>
  </header>
  
    
<a ng-dblclick="submitAns()" ng-swipe-left="nextConvo()" ng-click="nextLvl()">
  <content has-header="true" padding="true">
    
	<div ng-repeat="message in messages" type="item-text-wrap">
		<div ng-class-odd="'card item-message2'" ng-class-even="'card item-reply'">
			<div class="item-message-header">
				<div class="row nopads">
					<small class="col">{{message.created_by}}:</small>
					<small class="col text-right">{{message.created_at | date: 'short' }}</small>
				</div>
			</div>
			<div class="item-message-body item-text-wrap">
			  {{message.content}}
			</div>
		</div>
    </div>
  </content>
 
  <div class="overlay" id="resultScreen">
	
  </div>
   </a>
</nav-page>
