<nav-page id="app-page">
  <!-- <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
    <h1 class="title">About</h1>
  </header> -->

  <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToStatistics()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">Statistics</h1>
  </header>

  <content has-header="true" padding="true">
    <h3>Statistics</h3>
  </content>
</nav-page>
