<nav-page id="app-page">
  <!-- <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToHome()"><i class="icon ion-home"></i></button>
    <h1 class="title">About</h1>
  </header> -->

  <header class="bar bar-header bar-uptalk">
    <button class="button button-icon" ng-click="goToStatistics()"><i class="icon ion-navicon"></i></button>
    <h1 class="title">Statistics</h1>
  </header>
  <ion-content has-header="true">
  <br/> <br/>
  <h3> Summary: </h3>
 <br/> <br/> 
 <a ng-dblclick="currStat()" ng-swipe-left="prevStat()" ng-click="currStat()"  ng-swipe-right="nextStat()">

                           <highchart id="chart1" config="chartConfig" class="span10"></highchart>
    </ion-content>
       </a>

</nav-page>
